:root {
    --rainbow-opacity: 0.8;
}

html {
    box-sizing: border-box;
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #073642, #05333f, #03303c, #012e39, #002b36);
    color: #F9F871;
}

/* Layout */

.app {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 20px;
}


.app-sidebar {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.app-settings {
    display: flex;
    flex-direction: column;
}

.app-buttons {
    display: flex;
    justify-content: space-evenly;
}

.sketch {
    display: grid;
    height: 450px;
    width: 450px;
    background: #ffffff;
    cursor: grabbing;
}

/* UI Elements */

h1 {
    color: #F9F871;
    font-family: 'Permanent Marker', cursive;
}

button {
    background: #9BD572;
    color: #00806F;
    font-weight: 700;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px 0 10px 0;
}

button + button {
    margin-left: 15px;
}

.rainbowAnim {
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, var(--rainbow-opacity)) 0%,
        rgba(255, 154, 0, var(--rainbow-opacity)) 10%,
        rgba(208, 222, 33, var(--rainbow-opacity)) 20%,
        rgba(79, 220, 74, var(--rainbow-opacity)) 30%,
        rgba(63, 218, 216, var(--rainbow-opacity)) 40%,
        rgba(47, 201, 226, var(--rainbow-opacity)) 50%,
        rgba(28, 127, 238, var(--rainbow-opacity)) 60%,
        rgba(95, 21, 242, var(--rainbow-opacity)) 70%,
        rgba(186, 12, 248, var(--rainbow-opacity)) 80%,
        rgba(251, 7, 217, var(--rainbow-opacity)) 90%,
        rgba(255, 0, 0, var(--rainbow-opacity)) 100%
    );
    color: #ffffff;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.8);
    background-size: 400% 400%;
    animation: gradient 0.5s linear infinite;

}

@keyframes gradient {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

button:hover {
    cursor: pointer;
}

.square:hover {
    background: rgba(0, 0, 0, 0.226);
}


input[type="range"] {
    -webkit-appearance: none !important;
    width: 100%;
    height: 2px;
    background: #000;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    cursor: pointer;
    background: #9BD572;
    border-radius: 20px;
    height: 10px;

}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    margin-top: -5px;
    border-radius: 25px;
    background: #00806F;
  }

/* Responsive changes */

@media (max-width: 768px) {
    .app {
        flex-flow: column nowrap !important;
        align-items: center;
        margin: 2rem 2rem;
    }
    .app-sidebar {
        flex-flow: row nowrap !important;
    }
}
